* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
h2 {
  font-size: 5.5rem;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 4.5rem;
}
h5 {
  font-size: 4rem;
}
h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

/* variables */
:root {
  --primary-color: #181c14;
  --secondary-color: #3c3d37;
  --tertiary-color: #697565;
  --quartiary-color: #ecdfcc;
  --white-color: #fff;
  --gap: 1rem;
}

/* backgrounds */
.main-bg {
  background-image: url("../img/main-bg.svg");
  background-size: cover;
  background-position: center center;
  color: var(--primary-color);
}
.second-bg {
  /* background-image: url("../img/second-bg.svg");
  background-size: auto;
  background-position: center center; */
  background-color: var(--quartiary-color);
}

/* main */
.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

/* menu */
.menu .main-content {
  display: flex;
  justify-content: space-between;
}

.menu {
  background-color: var(--tertiary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.5rem solid var(--quartiary-color);
}

.menu h1 {
  font-size: 2.3rem;
  text-decoration: none;
  padding: 1rem;
  align-items: center;
}

.menu h1 a {
  color: inherit;
  text-decoration: none;
}

.menu ul li a {
  display: block;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a:hover {
  color: var(--secondary-color);
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  width: 0%;
  height: 0.3rem;
  background: var(--quartiary-color);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

.menu ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-spacing {
  height: 7.1rem;
}
/* sections */
.section {
  min-height: 100vh;
}

/* first section */
.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  height: 100vh;
  column-gap: 3rem;
  /* justify-content: center;
  align-items: center; */
}
.intro-text-content p{
  text-indent: 4rem;
}

.intro-img img, 
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.intro-text-content, .intro-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
}

.intro-text-content h2 {
  line-height: 1.2;
  font-size: 5rem;
  margin-bottom: 5rem;
  /* text-transform: uppercase; */
}